
<div class="main-carousel">

<h1 class="h1-home">Productos Destacados</h1>

<div class="container my-1 carousel-shadow">
   

<!--Carousel Wrapper-->
<div id="carousel-item" class="carousel slide carousel-multi-item" data-ride="carousel">

<!--/.Controls-->

<!--Indicators-->
<ol class="carousel-indicators custom-indicators">
    <li data-target="#carousel-item" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-item" data-slide-to="1"></li>
    <li data-target="#carousel-item" data-slide-to="2"></li>
    <li data-target="#carousel-item" data-slide-to="3"></li>
    <li data-target="#carousel-item" data-slide-to="4"></li>
  </ol>
<!--/.Indicators-->

<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">
  <a (click)="irAProducto(primerDestacado.id)">
  <div class="card carousel-card-container">
    <div class="card-horizontal">
        <div class="cardphoto">
          <div class="cardphoto-img">
            <app-imagen-producto [imagen]="primerDestacado"></app-imagen-producto>
          </div>
        </div>
        <div class="card-body">
            <h1 class="card-title">{{primerDestacado.nombre}}</h1>
            <p class="card-text descripcionJuego">{{primerDestacado.descripcion}}</p>
            <h2 class="card-price precios" *ngIf="primerDestacado.descuento == 0">{{primerDestacado.precio}}€</h2>
            <h2 class="card-price precios" *ngIf="primerDestacado.descuento != 0">{{primerDestacado.precio - (primerDestacado.precio*primerDestacado.descuento)/100}}€<del class="separadorPrecios">{{primerDestacado.precio}}€</del></h2>
        </div>
     </div>
   </div>
  </a>

  </div>
  <!--Second slide-->
  <div class="carousel-item" *ngFor="let producto of productosDestacados">

    <a (click)="irAProducto(producto.id)">
    <div class="card">
      <div class="card-horizontal">
          <div class="cardphoto" >
            <div class="cardphoto-img">
              <app-imagen-producto [imagen]="producto"></app-imagen-producto>
            </div>
          </div>
          <div class="card-body">
              <h1 class="card-title">{{producto.nombre}}</h1>
              <p class="card-text descripcionJuego">{{producto.descripcion}}</p>
            <h2 class="card-price precios" *ngIf="producto.descuento == 0">{{producto.precio}}€</h2>
            <h2 class="card-price precios" *ngIf="producto.descuento != 0">{{producto.precio - (producto.precio*producto.descuento)/100}}€<del class="separadorPrecios">{{producto.precio}}€</del></h2>
          </div>
       </div>
     </div>
  </a>

  </div>
 

</div>
<div class="controlers-div">
  <a class="carousel-control-prev ctrl-left" href="#carousel-item" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
  <a class="carousel-control-next ctrl-right" href="#carousel-item" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>

</div>
<!--/.Carousel Wrapper-->


</div>


<!-- Otros productos -->

<div class="container-prueba">
<h1 class="h1-home h1-oferta">Grandes ofertas</h1>
  <div class="container-flip" *ngFor="let producto of grandesDescuentos">
    <a (click)="irAProducto(producto.id)">
      <app-descuento [imagen]="producto"></app-descuento>
    </a>
  </div>
</div>


<div class="container-productos">

  <h1 class="h1-home">Otros productos</h1>

  <mat-tab-group mat-stretch-tabs class="product-tabs mat-elevation-z4" backgroundColor="primary">
    <mat-tab label="Nuevos Productos" > 
      <div class="card cardArticulo" *ngFor="let producto of productosNuevos">
        <a (click)="irAProducto(producto.id)">
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-4 producto-img">
              <app-imagen-producto [imagen]="producto"></app-imagen-producto>
            </div>
            <div class="col-md-12 col-lg-8 producto-info">
              <div class="card-body producto-info">
                <h3 class="card-title indexNoticiaTitulo">{{producto.nombre}}</h3>
                <p class="card-text indexNoticiaTexto">{{producto.descripcion}}</p>
                <h2 class="card-price precios-card" *ngIf="producto.descuento == 0">{{producto.precio}}€</h2>
              <h2 class="card-price precios-card" *ngIf="producto.descuento != 0">{{producto.precio - (producto.precio*producto.descuento)/100}}€<del class="separadorPrecios">{{producto.precio}}€</del></h2>
              </div>
            </div>
          </div>
        </a>
    </div>
    </mat-tab>

    <mat-tab label="Por menos de 10€">
      <div class="card cardArticulo" *ngFor="let producto of productosMenos10">
        <a (click)="irAProducto(producto.id)">
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-4 producto-img">
              <app-imagen-producto [imagen]="producto"></app-imagen-producto>
            </div>
            <div class="col-md-12 col-lg-8 producto-info">
              <div class="card-body producto-info">
                <h3 class="card-title indexNoticiaTitulo">{{producto.nombre}}</h3>
                <p class="card-text indexNoticiaTexto">{{producto.descripcion}}</p>
                <h2 class="card-price precios-card" *ngIf="producto.descuento == 0">{{producto.precio}}€</h2>
              <h2 class="card-price precios-card" *ngIf="producto.descuento != 0">{{producto.precio - (producto.precio*producto.descuento)/100}}€<del class="separadorPrecios">{{producto.precio}}€</del></h2>
              </div>
            </div>
          </div>
        </a>
    </div>

    </mat-tab>

    <mat-tab label="Por menos de 20€">

    <div class="card cardArticulo" *ngFor="let producto of productosMenos20">
      <a (click)="irAProducto(producto.id)">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-4 producto-img">
            <app-imagen-producto [imagen]="producto"></app-imagen-producto>
          </div>
          <div class="col-md-12 col-lg-8 producto-info">
            <div class="card-body producto-info">
              <h3 class="card-title indexNoticiaTitulo">{{producto.nombre}}</h3>
              <p class="card-text indexNoticiaTexto">{{producto.descripcion}}</p>
              <h2 class="card-price precios-card" *ngIf="producto.descuento == 0">{{producto.precio}}€</h2>
            <h2 class="card-price precios-card" *ngIf="producto.descuento != 0">{{producto.precio - (producto.precio*producto.descuento)/100}}€<del class="separadorPrecios">{{producto.precio}}€</del></h2>
            </div>
          </div>
        </div>
      </a>
    </div>

  </mat-tab>
  </mat-tab-group>

</div>
