<div class="page">

<div class="container">

<div class="container2">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="test-icon"><i class="fa fa-user fa-5x" aria-hidden="true"></i></div>
                <h3>Problemas con la cuenta</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Listado de incidencias abiertas por los usuarios y relacionadas con sus cuentas</p>
                    <a (click)="asistenciaCuenta()">Entrar</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="test-icon"><i class="fa fa-desktop fa-5x" aria-hidden="true"></i></div>
                <h3>Problemas con productos</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Listado de incidencias abiertas por los usuarios y relacionadas con los productos</p>
                    <a (click)="asistenciaProductos()">Entrar</a>
            </div>
        </div>
    </div>

    </div>

    <div class="container2">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="test-icon"><i class="fa fa-money fa-5x" aria-hidden="true"></i></div>
                <h3>Problemas con los pagos</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Listado de incidencias abiertas por los usuarios y relacionadas con el pago de productos</p>
                    <a (click)="asistenciaPagos()">Entrar</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="test-icon"><i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i></div>
                <h3>Incidencias resueltas</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Listado de incidencias que ya han sido resueltas</p>
                    <a (click)="asistenciaResueltos()">Entrar</a>
            </div>
        </div>
    </div>

</div>
    </div>
</div>