<div class="page">

    <div class="container">
    
    <div class="container2">
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-user fa-5x" aria-hidden="true"></i></div>
                    <h3>Gestiar Usuarios</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Gestionar los usuarios existentes en el sistema, crear nuevos usuarios o eliminar los existentes.</p>
                        <a (click)="gestionUsuarios()">Entrar</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-gamepad fa-5x" aria-hidden="true"></i></div>
                    <h3>Gestionar Productos</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Gestionar los productos existentes en el sistema, crear nuevos productos o eliminar los existentes.</p>
                        <a  (click)="gestionProductos()">Entrar</a>
                </div>
            </div>
        </div>
    
        </div>
    
        <div class="container2">
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-comments fa-5x" aria-hidden="true"></i></div>
                    <h3>Gestionar Comentarios</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Gestionar los comentarios que realizan los usuarios dentro de los productos.</p>
                        <a  (click)="gestionComentarios()">Entrar</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-question fa-5x" aria-hidden="true"></i></div>
                    <h3>Gestionar Tickets</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Gestionar los tickets y solicitudes de asistencia que crean los usuarios</p>
                        <a (click)="gestionTickets()">Entrar</a>
                </div>
            </div>
        </div>
    
    </div>
        </div>
    </div>