<div class="full-height">

    <main class="row">

        <section class="col-md-12 panel">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center h1-registro">Registro</h1>
                </div>
                <div class="row">
                <form [formGroup] = "registroForm" class="col-12 col-md-8 offset-md-2">
    
                    <mat-form-field appearance="outline">

                        <mat-label>Email</mat-label>
                        <input matInput  formControlName="email" class="input-registro">
                        <div *ngIf="registroForm.controls['email'].invalid && (registroForm.controls['email'].dirty || registroForm.controls['email'].touched)">
                            <ng-container *ngIf="registroForm.controls.email.errors != undefined">
                                <div class="errorValidacion" *ngIf="registroForm.controls.email.errors.required">Debe introducir un email</div>
                                <div class="errorValidacion" *ngIf="registroForm.controls.email.errors.email">Debe introducir una dirección de correo válida</div>
                                <div class="errorValidacion" *ngIf="registroForm.controls.email.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                            </ng-container>
                        </div>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="ocultarPassword ? 'password' : 'text' "  formControlName="password" class="input-registro">
                            <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword">
                                <mat-icon>{{ocultarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <div *ngIf="registroForm.controls['password'].invalid && (registroForm.controls['password'].dirty || registroForm.controls['password'].touched)">
                                <ng-container *ngIf="registroForm.controls.password.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.password.errors.required">Debe introducir una contraseña</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.password.errors.minlength">La contraseña debe tener 4 o más dígitos</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.password.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput  formControlName="username" class="input-registro">
                            <div *ngIf="registroForm.controls['username'].invalid && (registroForm.controls['username'].dirty || registroForm.controls['username'].touched)">
                                <ng-container *ngIf="registroForm.controls.username.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.username.errors.required">Debe introducir un nombre de usuario</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.username.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" class="input-registro">
                            <div *ngIf="registroForm.controls['nombre'].invalid && (registroForm.controls['nombre'].dirty || registroForm.controls['nombre'].touched)">
                                <ng-container *ngIf="registroForm.controls.nombre.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.nombre.errors.required">Debe introducir un nombre</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.nombre.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                            <mat-label>Primer apellido</mat-label>
                            <input matInput  formControlName="primer_apellido" class="input-registro">
                            <div *ngIf="registroForm.controls['primer_apellido'].invalid && (registroForm.controls['primer_apellido'].dirty || registroForm.controls['primer_apellido'].touched)">
                                <ng-container *ngIf="registroForm.controls.primer_apellido.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.primer_apellido.errors.required">Debe introducir un primer apellido</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.primer_apellido.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                            <mat-label>Segundo Apellido</mat-label>
                            <input matInput  formControlName="segundo_apellido" class="input-registro">
                            <div *ngIf="registroForm.controls['segundo_apellido'].invalid && (registroForm.controls['segundo_apellido'].dirty || registroForm.controls['segundo_apellido'].touched)">
                                <ng-container *ngIf="registroForm.controls.segundo_apellido.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.segundo_apellido.errors.required">Debe introducir un segundo apellido</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.segundo_apellido.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                            <mat-label>DNI</mat-label>
                            <input matInput  formControlName="dni" class="input-registro">
                            <div *ngIf="registroForm.controls['dni'].invalid && (registroForm.controls['dni'].dirty || registroForm.controls['dni'].touched)">
                                <ng-container *ngIf="registroForm.controls.dni.errors != undefined">
                                    <div class="errorValidacion" *ngIf="registroForm.controls.dni.errors.required">Debe introducir un dni</div>
                                    <div class="errorValidacion" *ngIf="registroForm.controls.dni.errors.maxlength">Ha superado el máximo de caracteres permitidos</div>
                                </ng-container>
                            </div>
                    </mat-form-field>
                    
                        <div class="form-group text-center pt-4">
                            <button type="submit" class="btn btn-primary btn-login" [disabled]="registroForm.invalid" (click)="registraUsuario()">Entrar</button>
                        </div>
    
                        <div class="col-12 links text-center">
                            <div>
                                <a href="login" (click)="irALogin()">¿Tienes una cuenta? <br> Inicia sesión</a>
                            </div>                   
                        </div>
                </form>
            </div>
    </div>
    </section>
    
    <div id="respuestaDelServidor"></div>
    </main>
    
    </div>