
<footer class="footer-distributed">

    <div class="footer-left">
        <p class="footer-company-about">
            <span>Sobre Mage</span>
            Mage es una web que te ofrece la posibilidad de comprar juegos de ordenador</p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i><div class="hidden-text">Facebook</div></a>
            <a href="#"><i class="fa fa-twitter"></i><div class="hidden-text">Twitter</div></a>
            <a href="#"><i class="fa fa-instagram"></i><div class="hidden-text">Instagram</div></a>
            <a href="https://es.linkedin.com/in/antonio-jes%C3%BAs-p%C3%A9rez-8b5867197?trk=people_directory"><i class="fa fa-linkedin"></i><div class="hidden-text">InfoJobs</div></a>
            <a href="https://github.com/AntonioJesPG"><i class="fa fa-github"></i><div class="hidden-text">Github</div></a>
        </div>
    </div>

    <div class="footer-center">
  
        <h3 (click)="irAHome()"><a href="#"><img src="../../../assets/250x250 blanco.png" alt="mage_logo">Mage</a></h3>
    </div>

    <div class="footer-right">
        <div>
            <i class="fa fa-phone"></i>
            <p>+34 123 123 123</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p>fakeMail@gmail.com</p>
        </div>
    </div>

</footer>
