<div class="contenedor">
    <div class="contenedorTabla" >
  
      <div class="empty-div">
        <mat-card class="empty-card">
            <img mat-card-image src="../../../assets/pay.PNG" class="empty-img">
            <mat-card-content>
                <div id="myPaypalButtons" class="payment">
                </div>
                <button mat-raised-button color="primary" (click)="volverACesta()" class="btn-volver">
                    Volver
                </button>  
            </mat-card-content>
          </mat-card>
      </div>

