<div class="page">

    <div class="container">
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-question-circle fa-5x" aria-hidden="true"></i></div>
                    <h3>Crear Ticket</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Crear un ticket para solicitar ayuda.</p>
                        <a (click)="crearTicket()">Entrar</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="test-icon"><i class="fa fa-list fa-5x" aria-hidden="true"></i></div>
                    <h3>Mis Tickets</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Ver los tickets que has creado y su estado.</p>
                        <a (click)="irAListado()">Entrar</a>
                </div>
            </div>
        </div>
    
        </div>
    
    </div>
